body {
	font-family: georgia, times, serif;
	margin: 0%;
	font-size: 1.3rem;
	line-height: 1.3em;
  background-color: #919191;
}


.main {
    padding-top: 10rem ;
}
.sec{
    display: flex;
    margin-inline: 15%;
    width: 1000px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    
}

.sec img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .8s ease;
    border-radius: 3px;
}

.sec img:hover{
    cursor: crosshair;
    width: 450px;
    opacity: 1;
    filter: contrast(120%);
}
.botton {

        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
        list-style: none;

}